// Variables globales
$bg-global: rgb(215, 191, 248);
$bg-section: #fff8e6;
$border-black: #000000;
$link-color: #6a0dad;
$link-hover: #9b30ff;
$table-border: #ccc;
$table-header: #f2e6ff;
$box-shadow: rgba(0, 0, 0, 0.1);

// Style global
html {
  text-align: center;
  background-color: $bg-global;
}

//Styles pour les sections
#informations-personnelles,
#formation,
#experience,
#compétences,
#diplomes,
#centres-interet {
  background-color: $bg-section;
  border-radius: 15px;
  padding: 15px;
  margin: 50px auto;
  max-width: 350px;
  box-shadow: 0 4px 15px $box-shadow;
}

//Ligne horizontale
hr {
  border-top: 3px solid $border-black;
  width: 80%;
}

// Titres
h2 {
  text-decoration: underline;
}

// Listes
ul {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}

//Liens avec imbrication
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $link-hover;
  }
}

//Tableau dans #compétences
#compétences {
  table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: $bg-section;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px $box-shadow;
  }

  th,
  td {
    border: 2px solid $table-border;
    padding: 8px 12px;
    text-align: left;
  }

  th {
    background-color: $table-header;
    font-weight: bold;
  }
}

//Interface smartphone
@media screen and (max-width: 600px) {
  #informations-personnelles,
  #formation,
  #experience,
  #compétences,
  #diplomes,
  #centres-interet {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  ul {
    display: block;
    text-align: left;
  }

  #informations-personnelles {
    p {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
